:root {
    --yinmn-blue: #4e598cff;
    --white: #ffffffff;
    --black: #000000ff;
    --dark-spring-green: #04724dff;
    --moonstone: #47a8bdff;
    --font-family: "Teko", serif;
}
.topper {
	margin: 1rem auto;
	display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.topper img {
	margin: 0 0.25rem 0 1rem;
	width: 250px;
	height: auto;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: "Teko", serif;
}
nav li {
    flex: 1 1 auto;
}
nav a {
	display: block;
    padding: 5px;
	color: var(--yinmn-blue);
	font-size: 2.2rem;
}

nav a:hover {
	color: var(--black);;
	font-weight: 700;
	text-decoration: underline;
}

body main{
    background-color: var(--moonstone);
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    margin-bottom: 20px;
	background: var(--yinmn-blue);
    opacity: 1.9;
    text-align: center;
    top: 10%;
    left: 0%;
    right: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(--white);
}
.hero article {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 40%;
    background: var(--yinmn-blue);
    opacity: 0.900;
    
}
.hero article img{
    float: right;
    height: 100px;
    width: auto;
}
.hero article p {
    color:var(--white);
}
.his {
    color:var(--white);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
    background: var(--yinmn-blue);
    opacity: 0.9;
}
.his img {
    position: absolute;
    grid-column: 2/3;
    grid-row: 2/4

}
.his h2{
    position: relative;
    grid-column: 1/4;
    text-align: center;
}
.his p {
    text-wrap: balance;
    grid-column: 1/2;
}
.Adven {
    position: relative;
    color:var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    background: var(--yinmn-blue);
    opacity: 0.9;

}
.Adven h2{
    position: relative;
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}
.Adven figure {
    position: relative;
    grid-row: 2;
}
.Adven figcaption {
    color: var(--white);

}

.Adven figure img {
    position: relative;
    width: 200px;
	height: auto;
}


form {

    width: 650px;
    
    margin: 0 auto;
    
    padding: 1rem;
    
    border: 1px solid rgb(000 / 0.1);
    
    border-radius: 0.5rem;
    
    background-color: #eee;
    
    display: grid;
    
    }
    fieldset {

        display: grid;
        
        grid-gap: .5rem;
        
        margin: 1rem;
        
        border: 1px solid rgb(000 / 0.2);
        
        padding: 1rem;
        
        }
legend {

            padding: 0.5rem;
            
            color: navy;
            
            font-size: 1.3em;
            
        }
label, input, button, select, textarea {

                font-family: Roboto, Arial, sans-serif;
                
}

label {

    text-align: right;
    
    padding-right: 1rem;
    
    }
Input, select, textarea {
    
    padding: 0.5rem;
    
    font-size: 1.1rem;
    }

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 75rem;
    font-size: 1.2rem;
}

    button:hover {
    background-color: darkgreen;
 }



footer {
    background: var(--yinmn-blue);
    padding: 50px;
}
footer p {
    text-align: center;
    color:var(--white );
}
footer .sociallinks a{
    float: right;
    display: flex;
    justify-content: space-evenly;

}