:root {
    --yinmn-blue: #4e598cff;
    --white: #ffffffff;
    --black: #000000ff;
    --dark-spring-green: #04724dff;
    --moonstone: #47a8bdff;
    font-family: "Teko", serif;

}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}
article {
    position: absolute;
}
article img {
    float: right;
}