article:root {
    color: 4E598C;

}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}
article {
    position: absolute;
}
article img {
    float: right;
}